.DataNotFound {
  width: 100%;
  padding: 1.5em 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  border: 2px dashed hsl(var(--primary-clr), .1);
  border-radius: 5px;
  color: hsl(var(--heading-clr), 0.6);
  font-size: 1.2rem;
  font-weight: 500;

  & > svg {
    width: 5.5rem;
    height: 5.5rem;
    
    & path {
      fill: hsl(var(--primary-clr), .5);
    }
  }
}