.Modal {
  width: max-content;

  &__Backdrop {
    position: fixed;
    inset: 0;
    background: hsl(var(--heading-clr));
    opacity: .4;
  }

  &__Content {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    & > div {
      background: hsl(var(--mode-clr));
      border-radius: var(--radius-sm);
      box-shadow: var(--shadow);
    }
  }
}