.Box {
  width: 100%;

  &__Flex {
    display: flex;
  }

  &__DirectionCol {
    flex-direction: column;
  }

  &__JustifyCenter {
    justify-content: center;
  }

  &__AlignCenter {
    align-items: center;
  }
}